@import url('http://fonts.cdnfonts.com/css/gagalin');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.gagalin-font {
  font-family: 'Gagalin', sans-serif;
}